<!DOCTYPE html>
<html ng-app = "adminApp">
	<head>
		<title>Admin</title>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
	    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <script src="https://d3js.org/d3.v4.min.js"></script>
	    <script src="/angularjs/adminController.js"></script>
	    <link rel='stylesheet' href='/css/style.css' />
	</head>

	<body ng-controller = "adminController">
		<nav class="navbar navbar-default">
		    <div class="container-fluid">
		        <!-- Brand and toggle get grouped for better mobile display -->
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="#"><img src="/images/airbnb.png" width="150" height="100" style="margin-top:-40px"></img></a>
		        </div>
		        <span style = "position:absolute; LEFT: 47%; font-size: 35px;">ADMIN</span>
		        <div style="float:right; margin-top: 10px; margin-right: 5px">
		        	<form role="form"> 
					  <div class="form-group has-feedback">
					    <input type="text" class="form-control" ng-model = "cityToSearchHost" placeholder="Search Host By City" style = "border-radius:95px; margin-right:-20px"/>
					    <button class = "btn btn-default" ng-click = "getHostsByCity()" style = "margin-top: -55px; margin-left: 83%; border-radius: 15px"><span class = "glyphicon glyphicon-search"></span></button>
					  </div>
					</form>
		        </div>
		    </div><!-- /.container-fluid -->
		</nav>
		<div ng-controller = "adminHomeController">
		    <nav class="navbar navbar-inverse" style="margin-top:-45px">
				<div class="container-fluid">
				    <ul class="nav navbar-nav">
					    <li style = "position:absolute; LEFT:10%"><a href = "" data-ng-click="dashboard()">Dashboard</a></li>
					    <li style = "position:absolute; LEFT:40%"><a href = "" data-ng-click="inbox()">Inbox</a></li>
						<li style = "position:absolute; LEFT:70%"><a href = "" data-ng-click="bills()">Bills</a></li>
						<li style = "position:absolute; LEFT:94%"><a href = "" data-ng-click="logOut()">Log Out</a></li>
					</ul>
				</div>
			</nav>

			<div id = "DASHBOARD" ng-show = "showDashboard">
				<div class = "col-sm-1"></div>
				<div class = "col-sm-2">
					<h2>DASHBOARD</h2>
					<p><a href = "" ng-click = "getTopProperties()">Top Properties</a></p>
					<p><a href = "" ng-click = "getCityWiseRevenue()">City Wise Revenues</a></p>
					<p><a href = "" ng-click = "getTopHost()">Top Host</a></p>
				</div>
				<div class = "col-sm-4">
					<div ng-show = "showTopProperties">
					<h2>showTopProperties</h2>
						<div id = "topPropertiesDiv"></div>
					</div>

					<div ng-show = "showCityWiseRevenues">
						City: <input class = "form-control" type = "text" ng-model = "cityForRevenue" placeholder="City"><br>
						<button class = "btn btn-success" ng-click = "getCityRevenue()">Get City Revenue</button>
						<div id = "cityWiseRevenueDiv"></div>
					</div>

					<div ng-show = "showTopHost">
					<h2>showTopHost</h2>
						<div id = "topHostDiv"></div>
					</div>
				</div>
			</div>

			<div id = "INBOX" ng-show = "showInbox">
				<div class = "col-sm-1"></div>
				<div class = "col-sm-4" style = "height:1000px">
					<img src = "/images/admin_airbnb_logo.png" height = "150px" width = "500px" style = "margin-top:80px;">
				</div>
				<div class = "col-sm-1"></div>
				<div class = "col-sm-4">
					<input class = "form-control" ng-model = "cityForInbox" placeholder="City"></input>
					<br>
					<button class="btn btn-success" ng-click = "getPendingHostAppovals()"> Get Pending Requests</button>
					<div ng-repeat = "p in userDetails" ng-show = "showPendingRequests"><br><br>
						<div>
							<span>There is a request from <b>{{p.first_name}} {{p.last_name}}</b>. What do you think, shall we Approve?</span><br><br>
						</div>
							<img src = "/uploads/{{p.picture_path[0].filename}}" width = "90px" height = "90px">
							<div style = "float:right">Email_id : {{p.email}}</div><br>
							<button class="btn btn-success" style = "margin-top:-50px; float:right" ng-click = "approveHost(p._id)">Approve</button><br><br>
					</div>
				</div>
			</div>

			<div id = "BILLS" ng-show = "showBills">
				<div class = "col-sm-5"></div>
				<div class = "col-sm-5">
				<h2>Get Bills By </h2>
					<button class = "btn btn-success" ng-click = "getBills()" ng-show = "showBillsButton" style = "position:absolute; TOP:105px; LEFT:175px">Get Bills</button>
					<input type = "radio" ng-model = "refineCriteria" value = "date" ng-click = "displayFields()">Date</input>
					<input type = "radio" ng-model = "refineCriteria" value = "month" ng-click = "displayFields()">Month
					<input type = "radio" ng-model = "refineCriteria" value = "year" ng-click = "displayFields()">Year
					<br><br>
					<input class = "form-control" type = "date" style = "float:left; width:150px" ng-model = "date" ng-show = "showDateInput"></input>
					<input class = "form-control" type = "month" style = "float:left; width:150px" ng-model = "month" ng-show = "showMonthInput"></input>
					<select id="year" class = "form-control" ng-model = "year" ng-show = "showYearInput" style = "width:150px">
						<script>
							var myDate = new Date();
							var year = myDate.getFullYear();
							for(var i = 2000; i < year+2; i++){
							  document.write('<option value="'+i+'">'+i+'</option>');
							}
						</script>
					</select>
					<div ng-show = "showBillsRequested">
						<div ng-repeat = "x in retreivedBills">
							<div class="panel panel-default">
			                    <div class="panel-body">
			                       <div class="col-sm-7">
				                        <h4><label style="color:#c9302c">Checkin Date:</label>{{x.checkin_date}}</h4>
				                        <h4><label style="color:#c9302c">Checkout Date:</label>{{x.checkout_date}}</h4>
				                        <h4><label style="color:#c9302c">Trip Price: $</label>{{x.trip_price}}</h4>
				                    </div>
			                        <button class = "btn btn-danger" ng-click = "deleteBill(x.billing_id)">Delete Bill</button>
			                        <button class = "btn btn-success" ng-click = "viewBill(x.billing_id, x.trip_id)">View Bill</button>
			                    </div>
			                </div>
						</div>
					</div>
				</div>
			</div>

			<div ng-show = "showHostsByCity">
			<div class = "col-sm-4"></div>
			<div  class = "col-sm-4">
				<div ng-repeat = "host in hostsByCity">
					<div class="panel panel-default">
	                    <div class="panel-body">
	                       <div class="col-sm-7">

		                        <a href = "/api/profile/getUserDetailsForProfile/{{host._id}}"><h3><label style="color:#c9302c"></label>{{host.first_name}} {{host.last_name}} {{host._id}}</h3></a>
		                        <h4><label style="color:#c9302c">City : </label>{{host.city}}</h4>
		                        <h4><label style="color:#c9302c">Ph. No : </label>{{host.phone}}</h4>
		                        <h4><label style="color:#c9302c">email : </label>{{host.email}}</h4>
		                    </div>
		                    <img src = "/uploads/{{host.picture_path[0].filename}}" style = "float:right;" width = "100px" height = "110px">
	                        <button class = "btn btn-danger" style = "position:relative; TOP:12px; LEFT:85px" ng-click = "deleteHost(host._id)">Delete Host</button>
	                    </div>
	                </div>
				</div>
			</div>

		</div>
	</body>
</html>