<!DOCTYPE html>
<html>
<head>
	<title>Become a Host and Rent Out Your Rooms</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--map related data-->
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 300px;
      }
      /* Optional: Makes the sample page fill the window. */
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }
    </style>
    <script>
      // This example adds a search box to a map, using the Google Place Autocomplete
      // feature. People can enter geographical searches. The search box will return a
      // pick list containing a mix of places and predicted search terms.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13,
          mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWlhSOzoAYUi3wmo6rbzJRBV4yohQvXBY&libraries=places&callback=initAutocomplete"
         async defer></script>
    <!--end of map related data-->

</head>
<body>
    <nav class="navbar navbar-default" style="background-color:white; ">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#" ><img src="../public/images/airbnb-logo.png" width="100" height="70" style="margin-top:-25px;margin-left:-30px"></img></a>
        </div>
        </div>
 	</nav>
 	<div class="col-sm-1"></div>
 	<div class="col-sm-11">
 		<div class="col-sm-7">
 			<div class="col-sm-9">
 				<h2>Hi, Username! Lets get you ready to become a host.</h2>
 				<br>
 				<h3>What Kind of place do you have?</h3>
 				<div class="col-sm-12">
					<form>
					    <div class="form-group"  style="float: left;width:49%">
         				   	<select class="form-control" id="category">
					        	<option value="Private Room" selected>Private Room</option>
					        	<option value="Entire Room">Entire Room</option>
					        	<option value="Shared Room">Shared Room</option>
					     	</select>
					    </div>
					    <div class="form-group"  style="float: right;width:49%">
         				   	<input type="number" class="form-control" id="numberOfGuests" placeholder="Number of Guests">
					    </div>
					    <div class="form-group" style="float: left;width:100%">
					    	<input type="text" class="form-control" id="address" placeholder="e.g. San Francisco">
					    </div>

					</form> 
 				</div>
 				<h3>What kind of place are you listing?</h3>					
 				<div class="col-sm-12">
 					<div>
					    <ul class="list-group">
						    <li class="list-group-item">Entire Place<input type="checkbox" value="Entire Place" style="float:right;"></li>
						    <li class="list-group-item">Private Room<input type="checkbox" value="Entire Place" style="float:right;"></li>
						    <li class="list-group-item">Shared Room<input type="checkbox" value="Entire Place" style="float:right;"></li>
						</ul>
					</div>
 				</div>
 				<h3>How many guests can your place accomodate?</h3>
 				<div class="col-sm-12">
 					<div class="form-group">
 						<input type="number" class="form-control" min="1" value="1"></input>
 					</div>
 				</div>
 				<h3>Where is your place located?</h3>
 				<div class="col-sm-12">
 					<div class="form-group">
 						<input type="text" class="form-control" placeholder="Country" ng-model="country"></input>
 						<input type="text" class="form-control" placeholder="Street Address" style="margin-top:5px" ng-model="streetAddress"></input>
 						<input type="text" class="form-control" placeholder="Apt, Suite, Bldg." style="margin-top:5px" ng-model="aptNo"></input>
 						<input type="text" class="form-control" placeholder="City" style="margin-top:5px" ng-model="city"></input>
 					</div>
 				</div>

 				<!--map related-->
 				<div class="col-sm-12" style="margin-bottom: 15px">
 					<input id="pac-input" class="controls" type="text" placeholder="Search Box">
    				<div id="map"></div>
 				</div>
 				<!--end of map related data-->
 				<h3>Photos</h3>
 					
 			</div>
 			<div class="col-sm-3"></div>
 		</div>
 		<div class="col-sm-5">
 			<img src="becomeHost.png" style="width: 100%" height="700">
 		</div>

 	</div>
</body>
</html>