<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="app.js"></script>
    <script src="angularjs/route_config.js"></script>
    <script src="angularjs/homeController.js"></script>
    <script src="angularjs/loginSignupController.js"></script>


    <title>Sign in or Register | eBay</title>
</head>
<body data-ng-app="airbnbApp">
<div class="container">
    <div ui-view="header"></div>
    <div ui-view="content"></div>
</div>



</body>
</html>