<nav class="navbar navbar-default" style="width:100%">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/images/airbnb.png" width="150" height="100" style="margin-top:-40px"></img></a>
        </div>
        <div style="float:right">
            <button type="button" class="btn btn-info btn-lg" style="background-color: transparent;border-color:transparent;" data-toggle="modal" data-target="#myModal"><label style="color: #0f0f0f">Sign Up</label></button>
            <button type="button" class="btn btn-info btn-lg" style="background-color: transparent;border-color:transparent;" data-toggle="modal" data-target="#myModal1"><label style="color: #0f0f0f">Log In</label></button>
        </div>
    </div><!-- /.container-fluid -->
    <!--Sign Up-->
</nav>