<!DOCTYPE html>
<html>
<head>
    <title>Become a Host and Rent Out Your Rooms</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/angularjs/loginSignupController.js"></script>
</head>
<body ng-app = "airbnbApp" ng-controller="loginSignupController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/images/airbnb.png" width="150" height="100" style="margin-top:-40px"></img></a>
            </div>
            <div style="float:right">
                <button type="button" class="btn btn-info btn-lg" style="background-color: transparent;border-color:transparent;" data-toggle="modal" data-target="#myModal"><label style="color: #0f0f0f">Sign Up</label></button>
                <button type="button" class="btn btn-info btn-lg" style="background-color: transparent;border-color:transparent;" data-toggle="modal" data-target="#myModal1"><label style="color: #0f0f0f">Log In</label></button>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
        <!--Sign Up-->
        <div class="modal fade" id="myModal" style="margin-top:50px " role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form class="form-group">
                            <input type="text" class="form-control" placeholder="First Name" name= "firstName" style="margin-top:20px" ng-model="firstName"></input>
                            <input type="text" class="form-control" placeholder="Last Name" name= "lastName" style="margin-top:10px" ng-model="lastName"></input>
                            <input type="text" class="form-control" placeholder="Email Address" name= "email" style="margin-top:10px" ng-model="email"></input>
                            <input type="password" class="form-control" placeholder="New Password" name= "password" style="margin-top:10px;margin-bottom:10px" ng-model="password"></input>
                            <span>Birthday</span>
                            <input placeholder="Date of Birth" class="form-control" type="text" name= "Dob" style="margin-top:10px" onfocus="(this.type='date')" onblur="(this.type='text')" name="Dob"  ng-model="Dob">
                            <input type="text" class="form-control" placeholder="Street" name= "street" style="margin-top:10px" ng-model="street"></input>
                            <input type="text" class="form-control" placeholder="Apartment Number" name= "aptNum" style="margin-top:10px" ng-model="aptNum"></input>
                            <input type="text" class="form-control" placeholder="City" style="margin-top:10px" name= "city" ng-model="city"></input>
                            <input type="text" class="form-control" placeholder="State" style="margin-top:10px"  name= "state" ng-model="state"></input>
                            <input type="number" class="form-control" placeholder="Zip Code" style="margin-top:10px"  name= "zipCode" ng-model="zipCode"></input>
                            <input type="number" class="form-control" placeholder="Phone Number" max="9999999999" style="margin-top:10px" name= "phoneNumber"  ng-model="phoneNumber"></input>
                            <input type="number" class="form-control" placeholder="SSN" max="999999999" style="margin-top:10px" name= "ssn"  ng-model="ssn"></input>
                            <span>By signing up, I agree to Airbnb’s Terms of Service, Nondiscrimination Policy, Payments Terms of Service, Privacy Policy, Guest Refund Policy, and Host Guarantee Terms.</span>
                            <button class="btn btn-danger" style="width:100%;margin-top: 10px" ng-click="signUp()">Sign Up</button>
                            <p style="color:red">{{signUpError}}</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--End Sign Up-->


        <!--Sign In-->
        <div class="modal fade" id="myModal1" style="margin-top:50px" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="Email Address" style="margin-top:30px" ng-model="emailAddress"></input>
                            <input type="password" class="form-control" name="password" placeholder="Password" style="margin-top:10px;margin-bottom:10px" ng-model="password"></input>
                            <p style="color:red">{{loginError}}</p>
                            <button class="btn btn-danger" style="width:100%" ng-click="logIn()">Log In</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <span style="float: left;">Don't have an account?</span><button type="button" id="myBtn2" class="btn btn-danger" style="float:right;" onclick="popup()">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
        <!--End Sign In-->

    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="col-sm-12"><h1 style="float:left;"><label style="color:#ff5a5f">Live there. </label> Book unique homes and <br>experience a city like a local.</h1></div>
        <div class="col-sm-12"><br><br></div>

        <!--start of Search in main Page-->
        <div class="col-sm-4" style="height:100px;border:1px solid #000">
            <div class="col-sm-12"><h4>Where</h4></div>
            <div class="col-sm-12">
                <input type="text" placeholder="Destination, city, address" ng-model="whereTo" style="width:100%;border-color:transparent;margin-top:10px" />
            </div>
        </div>
        <div class="col-sm-4" style="height:100px;border-top:1px solid #000;border-bottom:1px solid #000">
            <div class="col-sm-12"><h4>When</h4></div>
            <div class="col-sm-6">
                <input placeholder="From" type="text" style="border-color:transparent;margin-top:10px" onfocus="(this.type='date')" onblur="(this.type='text')" ng-model="start_date">
            </div>
            <div class="col-sm-6">
                <input placeholder="To" type="text" style="border-color:transparent;margin-top:10px" onfocus="(this.type='date')" onblur="(this.type='text')" ng-model="end_date">
            </div>
        </div>
        <div class="col-sm-4" style="height:100px;border:1px solid #000">
            <div class="col-sm-6">
                <div class="col-sm-12"><h4>Guests</h4></div>
                <div class="col-sm-12">
                    <input type="number" placeholder="Number of Guests?" min="1" style="border-color:transparent;margin-top:10px" ng-model="guests"></input>
                </div>
            </div>
            <div class="col-sm-6">
                <input type="button" class="btn btn-danger" value="Search" ng-click = "search()" style="float:right;margin-top:30px">
            </div>
        </div><br>
        <!--end of Search in main Page-->
        <div class="col-sm-12" style="float:left;"><h2>Explore the World</h2></div>

        <div class="col-sm-6">
            <img src="/images/paris.jpg" style="width:100%">

        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <img src="/images/rome.jpg" style="width:100%; height:100%">
            </div>
            <div class="col-sm-6">
                <img src="/images/losangles.jpg" style="width:100%; height:100%">
            </div>
            <div class="col-sm-6">
                <img src="/images/lisbon.jpg" style="width:100%; height:100%;margin-top:40px">
            </div>
            <div class="col-sm-6">
                <img src="/images/tokiyo.jpg" style="width:100%; height:100%;margin-top:40px">
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</body>
</html>