<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="/angularjs/searchResultsController.js"></script>
  <title>search</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKK8lh9l9TDfumALLS6Ko3vJr9addjfQs&callback=initAutocomplete"
  ></script>

    <title>Sign in or Register | eBay</title>
    
     <script type="text/javascript">
//    var app = angular.module('searchApp',[]);
//    app.controller('searchController',function($scope,$http){
      

  </script>
    
</head>
<body ng-app="searchApp" ng-controller="searchController">
    <nav class="navbar navbar-default" style="background-color:white; ">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/api/auth/home" ><img src="/images/airbnb-logo.png" width="100" height="70" style="margin-top:-25px;margin-left:-30px"></img></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <form class="navbar-form navbar-left" style="border-left:solid;border-width:0.5px;border-color:#D3D3D9">
                    <div class="form-group">
                        <input type="text" placeholder="Where to?" style="background-color:transparent;border-color:transparent;width:450px "><span class="glyphicon glyphicon-search" style="margin-left:5px"></span></input>
                    </div>
                    <button type="submit" class="btn btn-default" style="background-color:transparent;border:solid;border-color:#c4c4c4;margin-left:20px " ng-click="search()">Search</button>
                    <button type="submit" class="btn btn-default" style="background-color:transparent;border:solid;border-color:#c4c4c4;margin-left:20px;width:200px" ><a href = "/host" title = "You could earn $539 sharing your home in San Jose in a week. Become a host."> Become a host</a></button>
                    <button type="submit" class="btn btn-default" style="background-color:transparent;border-color:transparent;margin-left:40px;" ng-click="trips()">Trips<span class="glyphicon glyphicon-lock" style="margin-left:10px"></span></button>
                    <button type="submit" class="btn btn-default" style="background-color:transparent;border-color:transparent;margin-left:30px;" ng-click="messages()">Messages<span class="glyphicon glyphicon-envelope" style="margin-left:10px"></span></button>
       
				</form>
    
                <ul class="nav navbar-nav navbar-right" style="margin-top:1px">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=user_dtls.first_name%> <span class="caret"></span></a><!--Add first Name-->
                        <ul class="dropdown-menu">
                            <li><a href="/api/auth/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
  <!--end of advertisements-->
  <div class="col-sm-7">
    <div class="container-fluid" style="margin-top:30px;border-bottom:1px solid #c4c4c4">
      <div class="col-sm-1">
        <label class="form-control" style="border-color: transparent;float: left;">Dates:</label> 
      </div>
      <div class="col-sm-4">
        <input class="form-control" type="date" style="width:100%" value="<%=start_date%>" disabled>
      </div>
      <div class="col-sm-4">
        <input class="form-control" type="date" value="<%=end_date%>" disabled>
      </div>
      <div class="col-sm-3">
        <input type="number" class="form-control" value="<%=guests%>" style="margin-bottom: 20px" disabled>
      </div>
    </div>
    <div class="container-fluid" style="margin-top:30px;border-bottom:1px solid #c4c4c4">
      <div class="col-sm-1">
        <label class="form-control" style="border-color: transparent;float: left;">Room Type?:</label> 
      </div>
      <div class="col-sm-4">
        <center>Entire Home:<input type="checkbox"></center>
      </div>
      <div class="col-sm-4">
        <center>Private Room:<input type="checkbox"></center>
      </div>
      <div class="col-sm-3">
        <center>Shared Room:<input type="checkbox" style="margin-bottom: 40px"></center>
      </div>
    </div>
    <div class="col-sm-6" ng-repeat="x in valid_property"> 
      <div class="panel panel-default">
        <div class="panel-body" style="background-color: #f9f9f9;">
          <div class="panel-image hide-panel-body" ><img src="/uploads/{{x.imagesPath[0].filename}}" class="panel-image-preview" width="100%" height="250"></div>
          <div><font style="font-family: Helvetica Neue; font-size: 16px"><a href="/api/property/id/{{x._id}}/book">{{x.description}}</a><br>{{x.category}}&nbsp;-{{x.guests}}guest</font>s</div>
        </div>
        <div class="panel-footer"> 
        	<div ng-if= "x.is_auction == false" >
	        	<div>Per Night- ${{x.price}}</div>         
        	</div>
       		<div ng-if= "x.is_auction === 'true'" >
	        	<div>Initial Bid - ${{x.price}}</div>         
        	</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6" ng-repeat="y in results">
      
    </div>
  </div>
  <div class="col-sm-5"> 
    <div id="map-canvas" style="width: 100%; height: 800px;"></div>
  </div>
</body>

</html>