<!DOCTYPE html>
<html>
<head>
	<title>Airbnb</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/angularjs/myTripsController.js"></script>
</head>
<style type="text/css">
        *{
    margin: 0;
    padding: 0;
}
.rate {
    border: 1px solid #cccccc;
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
    </style>
<body ng-app="myTrip" ng-controller="myTripController">
	<nav class="navbar navbar-default" style="background-color:white; ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
             <a class="navbar-brand" href="/api/auth/home" ><img src="/images/airbnb-logo.png" width="100" height="70" style="margin-top:-25px;margin-left:-30px"></img></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
            <form class="navbar-form navbar-left" style="border-left:solid;border-width:0.5px;border-color:#D3D3D9">
                <div class="form-group">
                    <input type="text" placeholder="Where to?" ng-model="searchCity" style="background-color:transparent;border-color:transparent;width:450px "><span class="glyphicon glyphicon-search" style="margin-left:5px" ng-click="searchByCity()"></span></input>
                 </div>
                 <button type="button" class="btn btn-default" style="background-color:transparent;border:solid;border-color:#c4c4c4;margin-left:20px " ng-click="searchByCity()">Search</button>
                <button type="submit" class="btn btn-default" style="background-color:transparent;border:solid;border-color:#c4c4c4;margin-left:20px;width:200px"  ><a href = "/host" title = "You could earn $539 sharing your home in San Jose in a week. Become a host."> Become a host</a></button>
                <button type="submit" class="btn btn-default" style="background-color:transparent;border-color:transparent;margin-left:40px;" ><a href="/api/profile/myTrips" title = "shows your trip">Trips</a><span class="glyphicon glyphicon-lock" style="margin-left:10px"></span></button>
                <button type="submit" class="btn btn-default" style="background-color:transparent;border-color:transparent;margin-left:30px;" ng-click="messages()">Messages<span class="glyphicon glyphicon-envelope" style="margin-left:10px"></span></button>

            </form>

            <ul class="nav navbar-nav navbar-right" style="margin-top:1px">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=user_dtls.first_name%> <span class="caret"></span></a><!--Add first Name-->
                    <ul class="dropdown-menu">
                        <li><a href="/api/auth/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div>
    <nav class="navbar navbar-inverse" style="margin-top:-20px">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="/api/profile/dashboard">Dashboard</a></li>
                <li><a href="/api/inbox/inbox">Inbox</a></li>
                <li><a href="/api/profile/yourListings">Your Listings</a></li>
                <li><a href="/api/profile/myTrips">Your Trips</a></li>
                <li><a href="/api/profile/editProfile">Profile</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="col-sm-12" data-ng-hide="notrip" style="margin-top:30px">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
        <h1>Choose your next adventure</h1>
        <h3>Invite friends to try Airbnb and you'll get $35 in travel credit when they take their first trip.</h3>
    </div>
    <div class="col-sm-4">
        <center><img data-ng-src="/images/promo.png"></center>
    </div>
    <div class="col-sm-1"></div>
</div>

<div class="col-sm-12" data-ng-hide="notrip1" style="margin-top:30px;" >
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="border:0.5px solid black">
        <div data-ng-repeat="x in data">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                      <!--    <div class="col-sm-4"><img src="/uploads/{{x.imagesPath[0].filename}}" class="panel-image-preview" width="100%" height="100%"></div>-->
                        <div class="col-sm-3"><img src="/images/home12.png" width="100%" height="100%"></img></div>
                        <div class="col-sm-9" style="float:left">

                            <div class="col-sm-12"><h3><label style="color: #1b6d85">Property:</label> <a href="/api/property/id/{{x.property_id}}/view">{{x.property_name}}</a></h3></div>
                            <div class="col-sm-12" ng-if="x.trip_status==='PENDING'"><h4><label>Trip Status:</label> <span>{{x.trip_status}}</span></h4></div>
                            <div class="col-sm-12" ng-if="x.trip_status==='COMPLETED'"><h4><label>Trip Status:</label> <span style="color: green">{{x.trip_status}}</span></h4></div>
                            <div class="col-sm-12" ng-if="x.trip_status==='ACCEPTED'"><h4><label>Trip Status:</label> <span style="color: blue">{{x.trip_status}}</span></h4></div>
                            <div class="col-sm-12" ng-if="x.trip_status==='REJECTED'"><h4><label>Trip Status:</label> <span style="color:red">{{x.trip_status}}</span></h4></div>
                            <div class="col-sm-12" ng-if="x.trip_status==='PENDINGPAYMENT'"><h4><label>Trip Status:</label> <span style="color:red">{{x.trip_status}}</span></h4></div>
                            <div class="col-sm-12">{{x.checkin_date}} to {{x.checkout_date}}</div>
                            <div ng-if= "x.trip_status === 'COMPLETED'" ng-controller="myTripController">
                            <div ng-if= "x.is_reviewed === 0" ng-controller="myTripController">
                            <div class="rate">
                                <input type="radio" id="star5{{$index}}" name="rate{{$index}}" value="5" /><label for="star5{{$index}}" title="text">5 stars</label>
                                <input type="radio" id="star4{{$index}}" name="rate{{$index}}" value="4" /><label for="star4{{$index}}" title="text">4 stars</label>
                                <input type="radio" id="star3{{$index}}" name="rate{{$index}}" value="3" /><label for="star3{{$index}}" title="text">3 stars</label>
                                <input type="radio" id="star2{{$index}}" name="rate{{$index}}" value="2" /><label for="star2{{$index}}" title="text">2 stars</label>
                                <input type="radio" id="star1{{$index}}" name="rate{{$index}}" value="1" /><label for="star1{{$index}}" title="text">1 star</label>
                             </div>
                             <div>
                             &nbsp;<textarea id = "comment" rows="4" cols="80" ng-wrap="comment"></textarea>
                             </div><br>
                             <input type = "file" file-model = "myFile"/>
                             <br>
                             <button  value= "Submit Review" ng-click="submitReview(x.property_id,x.trip_id,$index)"> Submit Review</button>
                             <p id="msg"></p>
                             </div>
                             <div ng-if= "x.is_reviewed === 1" ng-controller="myTripController">
                            <div class="rate">
                             <input type="radio" id="star5{{$index}}" name="rate{{$index}}" value="5" /><label for="star5{{$index}}" title="text">5 stars</label>
                                <input type="radio" id="star4{{$index}}" name="rate{{$index}}" value="4" /><label for="star4{{$index}}" title="text">4 stars</label>
                                <input type="radio" id="star3{{$index}}" name="rate{{$index}}" value="3" /><label for="star3{{$index}}" title="text">3 stars</label>
                                <input type="radio" id="star2{{$index}}" name="rate{{$index}}" value="2" /><label for="star2{{$index}}" title="text">2 stars</label>
                                <input type="radio" id="star1{{$index}}" name="rate{{$index}}" value="1" /><label for="star1{{$index}}" title="text">1 star</label>
                             </div>
                             <div>
                             &nbsp;<textarea id = "comment" rows="4" cols="80" ng-wrap="comment" >{{x.review_comment}}</textarea>
                             </div><br>
                             <!-- <input type = "file" file-model = "myFile"/>
                             <br>
                             <button  value= "Submit Review" ng-click="submitReview(x.property_id,x.trip_id,$index)"> Submit Review</button>
                             <p id="msg"></p>  -->
                             </div>
                             
                             </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                  	  <div ng-if= "x.trip_status === 'ACCEPTED'" ng-controller="myTripController">
                  	  	<input type = "button" value= "View Bill" ng-click="viewBill(x.trip_id, x.billing_id)">
                  	  </div>
                  	  <div ng-if= "x.trip_status === 'PENDING'" >
                  	  	<input type = "button" value= "EDIT TRIP" ng-click="editTrip(x.trip_id,x.property_id,x.trip_price)">
                  	  </div>
                	  <div ng-if= "x.trip_status === 'COMPLETED'" ng-controller="myTripController">
                  	  	 <input type = "button" value= "View Bill" ng-click="viewBill(x.trip_id, x.billing_id)">
                  	  </div>
                  	  <div ng-if= "x.trip_status === 'PENDINGPAYMENT'" ng-controller="myTripController">
                  	  	 <input type = "button" value= "Pay Now" ng-click="payNow(x.trip_id,x.trip_price)">
                  	  </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-2"></div>
</div>
</body>
</html>