<!DOCTYPE html>
<html ng-app="AuthApp">
<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>

    <script>
        function popup(){
            $(document).ready(function(){
                $("#myBtn").click(function(){
                    $("#myModal").modal();
                });
            });
        }
        function popup1(){
            $(document).ready(function(){
                $("#myBtn1").click(function(){
                    $("#myModal1").modal();
                });
            });
        }
    </script>
    <script>
        var AuthApp = angular.module('AuthApp',[]);
        AuthApp.controller('AuthController',function($scope,$http){
            $scope.signUp = function(){
                if($scope.firstName!="" && $scope.lastName!="" && $scope.email!="" && $scope.password!="" && $scope.Dob!="" && $scope.street!="" && $scope.city!="" && $scope.state!="" && $scope.zipCode!="" && $scope.phoneNumber!="" && $scope.ssn!="" && $scope.aptNum!=""){
                    $http({
                        method:"POST",
                        url:"/registerUser",
                        data:{
                            "firstName":$scope.firstName,
                            "lastName":$scope.lastName,
                            "email":$scope.email,
                            "password":$scope.password,
                            "birthdate":$scope.Dob,
                            "street":$scope.street,
                            "address":$scope.aptNum,
                            "city":$scope.city,
                            "state":$scope.state,
                            "zipCode":$scope.zipCode,
                            "phoneNumber":$scope.phoneNumber,
                            "ssn":$scope.ssn
                        }
                    }).success(function(data){
                        if (data.statusCode=="200") {
                            console.log("Sign Up successful");
                        }
                        else if(data.statusCode=="400"){
                            $scope.signUpError="User already exists please use different username";
                        }
                    })
                }
                else{
                    $scope.error="please enter all the field contents";
                }
            }
            $scope.logIn = function(){
                $http({
                    method:"POST",
                    url:"/logIn",
                    data:{
                        "email":$scope.emailAddress,
                        "password":$scope.password
                    }
                }).success(function(data){
                    if(data.statusCode=="200"){
                        console.log("Login successful");
                    }
                    else if(data.statusCode=="400"){
                        $scope.loginError="Wrong email address or password";
                    }
                })
            }
        });
    </script>
</head>
<body  ng-controller="AuthController">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/images/airbnb.png" width="150" height="100" style="margin-top:-40px"></img></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li style="border-left:solid;border-width:0.5px;border-color:#D3D3D3"><a onclick="popup()" id="myBtn">Sign Up</a></li>
                <li style="border-left:solid;border-width:0.5px;border-color:#D3D3D3"><a onclick="popup1()" id="myBtn1">Log In</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

    <!--Sign Up-->
    <div class="modal fade" id="myModal" style="margin-top:50px " role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="form-group">
                        <input type="text" class="form-control" placeholder="First Name" style="margin-top:20px" ng-model="firstName"></input>
                        <input type="text" class="form-control" placeholder="Last Name" style="margin-top:10px" ng-model="lastName"></input>
                        <input type="text" class="form-control" placeholder="Email Address" style="margin-top:10px" ng-model="email"></input>
                        <input type="text" class="form-control" placeholder="New Password" style="margin-top:10px;margin-bottom:10px" ng-model="password"></input>
                        <span>Birthday</span>
                        <input placeholder="Date of Birth" class="form-control" type="text" style="margin-top:10px" onfocus="(this.type='date')" onblur="(this.type='text')" name="Dob"  ng-model="Dob">
                        <input type="text" class="form-control" placeholder="Street" style="margin-top:10px" ng-model="street"></input>
                        <input type="text" class="form-control" placeholder="Apartment Number" style="margin-top:10px" ng-model="aptNum"></input>
                        <input type="text" class="form-control" placeholder="City" style="margin-top:10px" ng-model="city"></input>
                        <input type="text" class="form-control" placeholder="State" style="margin-top:10px" ng-model="state"></input>
                        <input type="number" class="form-control" placeholder="Zip Code" style="margin-top:10px" ng-model="zipCode"></input>
                        <input type="number" class="form-control" placeholder="Phone Number" max="9999999999" style="margin-top:10px" ng-model="phoneNumber"></input>
                        <input type="number" class="form-control" placeholder="SSN" max="999999999" style="margin-top:10px" ng-model="ssn"></input>
                        <span>By signing up, I agree to Airbnb’s Terms of Service, Nondiscrimination Policy, Payments Terms of Service, Privacy Policy, Guest Refund Policy, and Host Guarantee Terms.</span>
                        <button class="btn btn-danger" style="width:100%;margin-top: 10px" ng-click="signUp()">Sign Up</button>
                        <!--<p style="color:red">{{signUpError}}</p>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--End Sign Up-->


    <!--Sign In-->
    <div class="modal fade" id="myModal1" style="margin-top:50px" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/auth/signInUser" method="post" class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Email Address" style="margin-top:30px" ng-model="emailAddress"></input>
                        <input type="text" class="form-control" name="password" placeholder="Password" style="margin-top:10px;margin-bottom:10px" ng-model="password"></input>
                        <!--<p style="color:red">{{loginError}}</p>-->
                        <button class="btn btn-danger" style="width:100%" ng-click="logIn()">Log In</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <span style="float: left;">Don't have an account?</span><button type="button" id="myBtn" class="btn btn-danger" style="float:right;" onclick="popup()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Sign In-->
</nav>


</body>
</html>