<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Become a Host and Rent Out Your Rooms</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/angularjs/hostController.js"></script>
    <!--map related data-->
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 300px;
        }
        /* Optional: Makes the sample page fill the window. */
        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 300px;
        }

        #type-selector {
            color: #fff;
            background-color: #4d90fe;
            padding: 5px 11px 0px 11px;
        }

        #type-selector label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }
        #target {
            width: 345px;
        }
    </style>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: {lat: -34.397, lng: 150.644}
            });
            var geocoder = new google.maps.Geocoder();

            document.getElementById('submit').addEventListener('click', function() {
                geocodeAddress(geocoder, map);
            });
        }
        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementsByName('address')[0].value;
            var city = document.getElementsByName('city')[0].value;
            var country = document.getElementsByName('country')[0].value;
            var fullAddress = address + ", " + city + ", " + country;
            if(fullAddress != "   "){
                geocoder.geocode({'address': fullAddress}, function(results, status) {
                    if (status === 'OK') {
                        resultsMap.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: resultsMap,
                            position: results[0].geometry.location,
                            zoom: 20
                        });
                        console.log("the latitude is :"+results[0].geometry.location.lat());
                        console.log("the latitude is :"+results[0].geometry.location.lng());
                        document.getElementById("coordinatesX").value=results[0].geometry.location.lat();
                        document.getElementById("coordinatesY").value=results[0].geometry.location.lng();
                    } else {
                        //alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }

        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKK8lh9l9TDfumALLS6Ko3vJr9addjfQs&callback=initMap">
    </script>
    <!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWlhSOzoAYUi3wmo6rbzJRBV4yohQvXBY&libraries=places&callback=initAutocomplete"
         async defer></script-->
    <!--end of map related data-->
    <!--script src="/javascripts/log.js"></script=-->
</head>
<body data-ng-app="airbnbApp" data-ng-controller= "hostController">
<nav class="navbar navbar-default" style="background-color:white; ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/api/auth/home" ><img src="/images/airbnb-logo.png" width="100" height="70" style="margin-top:-25px;margin-left:-30px"></img></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
            <form class="navbar-form navbar-left" style="border-left:solid;border-width:0.5px;border-color:#D3D3D9">
                    <div class="form-group">
                        <input type="text" placeholder="Where to?" ng-model="city" style="background-color:transparent;border-color:transparent;width:450px "><span class="glyphicon glyphicon-search" style="margin-left:5px" ng-click="searchByCity()"></span></input>
                    </div>
                    <button type="button" class="btn btn-default" style="background-color:transparent;border:solid;border-color:#c4c4c4;margin-left:20px " ng-click="searchByCity()">Search</button>
                    <button type="submit" class="btn btn-default" style="background-color:transparent;border:solid;border-color:#c4c4c4;margin-left:20px;width:200px" ><a href = "/host" title = "You could earn $539 sharing your home in San Jose in a week. Become a host."> Become a host</a></button>
                    <button type="submit" class="btn btn-default" style="background-color:transparent;border-color:transparent;margin-left:40px;" ><a href="/api/profile/myTrips" title = "shows your trip">Trips</a><span class="glyphicon glyphicon-lock" style="margin-left:10px"></span></button>
                    <button type="submit" class="btn btn-default" style="background-color:transparent;border-color:transparent;margin-left:30px;" ng-click="messages()">Messages<span class="glyphicon glyphicon-envelope" style="margin-left:10px"></span></button>
                </form>

            <ul class="nav navbar-nav navbar-right" style="margin-top:1px">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">firstName <span class="caret"></span></a><!--Add first Name-->
                    <ul class="dropdown-menu">
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="col-sm-1"></div>
<div class="col-sm-11">
    <%if(error){%>
        <div class="col-md-6">
            <div class="danger">
                Sorry an error occurred, try again !
            </div>
        </div>
    <%}%>
    <div class="col-sm-7">
        <form action="/api/property/list"  enctype = "multipart/form-data" method="post" >
            <div class="col-sm-9">
                <h2>Hi, Username! Lets get you ready to become a host.</h2>
                <br>
                <h3>What Kind of place do you have?</h3>
                <div class="col-sm-12">
                    <div class="form-group"  >
                        <select name="category" required class="form-control" id="category">
                            <option value="House" selected>House</option>
                            <option value="Apartment">Apartment</option>
                            <option value="Bed & Breakfast">Bed & Breakfast</option>
                            <option value="Dorm">Dorm</option>
                            <option value="Villa">Villa</option>
                            <option value="Hotel">Hotel</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                <h3>What kind of place are you listing?</h3>
                <div class="col-sm-12">
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item">Entire Place<input name="type" required type="radio" value="Entire Place" style="float:right;"></li>
                            <li class="list-group-item">Private Room<input name="type" required type="radio" value="Private Room" style="float:right;"></li>
                            <li class="list-group-item">Shared Room<input name="type" required type="radio" value="Shared Room" style="float:right;"></li>
                        </ul>
                    </div>
                </div>
                <h3>How many guests can your place accomodate?</h3>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="form-group col-md-6" >
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <div class="icon-addon addon-md">
                                    <input name="guests" required type="number" class="form-control" min="1" max="10" value="1"></input>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6" >
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-bed"></i></span>
                                <div class="icon-addon addon-md">
                                    <input name="bedrooms" required type="number" class="form-control" min="1"  max="10"  value="1"></input>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!--photos-->
                <h3>When can guests check in?</h3>
                <div class="col-md-12">
                    <div class="form-group">
                        <h4>Start Date</h4>
                        <input placeholder="start Date" required class="form-control" type="text" name= "start_date" style="margin-top:10px" onfocus="(this.type='date')" onblur="(this.type='text')" name="start_date"  ng-model="start_date">
                        <h4>End Date</h4>
                        <input placeholder="end Date" required class="form-control" type="text" name= "end_date" style="margin-top:10px" onfocus="(this.type='date')" onblur="(this.type='text')" name="end_date"  ng-model="end_date">
                    </div>
                </div>
                <h3 style="margin-top:10px">Give your property a title !</h3>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="property_title" maxlength="40"  required/></textarea>
                </div>
                <h3 style="margin-top:10px">Tell us about your place !</h3>
                <div class="col-sm-12">
                    <textarea name="description" rows="4" cols="50" required/></textarea>
                </div>

                <h3>Where is your place located?</h3>
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" name="country" placeholder="Country" required ></input>
                        <input type="text" class="form-control" name="address" placeholder="Street Address" style="margin-top:5px" required></input>
                        <input type="text" class="form-control" name="city" placeholder="City" style="margin-top:5px" required></input>
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-control" id="state" style="margin-top:5px" ng-model="state" required>
                                    <option value="" disabled selected>State</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="zipcode" placeholder="Zip Code" style="margin-top:5px" required></input>
                            </div>
                        </div>

                    </div>
                </div>
                <div></div>

                <!--map related-->
                <div class="col-sm-12" style="margin-bottom: 15px">
                    <input id="submit" class="form-control"  type="button" value="Find the address on the map below.">
                    <br>
                    <div id="map"></div>
                </div>
                <!--end of map related data-->
                <!--photos-->
                <h3>Photos</h3>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="file" class="" accept="image/*" name="file" multiple value="Upload upto 12 Images" required/>

                    </div>
                </div>
                <!--end of photos-->
                <!--type of hosting-->
                <h3>Type of Hosting?</h3>
                <div class="col-sm-12">
                    <div class="form-group">
                        <ul class="list-group">
                            <li class="list-group-item">Bidding<input ng-model="isBid" type="radio" name="forBid" value="1" style="float:right;" required></li>
                            <li class="list-group-item">Rent for the night !<input ng-model="isBid" type="radio" name="forBid" value="0" style="float:right;" required></li>
                        </ul>
                    </div>
                </div>
                <!--end of type of hosting-->
                <!--cost per day per week per month-->
                <h3>Enter Cost</h3>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="row">
                            <div class=" input-group input-group-md">
                                <span class="input-group-addon"><i style="font-size:20px" class="fa">&#xf155;</i></span>
                                <div class="icon-addon addon-md">
                                    <input type="number" name="price" class="form-control" placeholder="Enter price " style="" required>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <input id="coordinatesX" name="coordinatesX" type="hidden" ></input>
                <input id="coordinatesY" name="coordinatesY" type="hidden" ></input>


                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
                <div class="col-md-12">

                </div>



            </div>
            <div class="col-sm-3"></div>
        </form>

    </div>
    <div class="col-sm-5">
        <img src="/images/becomeHost.png" style="width: 100%" height="700">
    </div>

</div>

</body>

</html>