<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/angularjs/inbox.js"></script>
</head>
<body ng-app="myInbox" ng-controller="myInboxController">
<nav class="navbar navbar-default" style="background-color:white; ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/api/auth/home" ><img src="/images/airbnb-logo.png" width="100" height="70" style="margin-top:-25px;margin-left:-30px"></img></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
            <form class="navbar-form navbar-left" style="border-left:solid;border-width:0.5px;border-color:#D3D3D9">
                <div class="form-group">
                    <input type="text" placeholder="Where to?" style="background-color:transparent;border-color:transparent;width:450px "><span class="glyphicon glyphicon-search" style="margin-left:5px"></span></input>
                </div>
                <button type="submit" class="btn btn-default" style="background-color:transparent;border:solid;border-color:#c4c4c4;margin-left:20px " ng-click="search()">Search</button>
                <button type="submit" class="btn btn-default" style="background-color:transparent;border:solid;border-color:#c4c4c4;margin-left:20px;width:200px" ><a href = "/host" title = "You could earn $539 sharing your home in San Jose in a week. Become a host."> Become a host</a></button>
                <button type="submit" class="btn btn-default" style="background-color:transparent;border-color:transparent;margin-left:40px;"><a href="/api/profile/myTrips" title = "shows your trip">Trips</a><span class="glyphicon glyphicon-lock" style="margin-left:10px"></span></button>
                <button type="submit" class="btn btn-default" style="background-color:transparent;border-color:transparent;margin-left:30px;" ng-click="messages()">Messages<span class="glyphicon glyphicon-envelope" style="margin-left:10px"></span></button>

            </form>

            <ul class="nav navbar-nav navbar-right" style="margin-top:1px">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=user_dtls.first_name%> <span class="caret"></span></a><!--Add first Name-->
                    <ul class="dropdown-menu">
                        <li><a href="/api/auth/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div>
    <nav class="navbar navbar-inverse" style="margin-top:-20px">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="/api/profile/dashboard">Dashboard</a></li>
                <li><a href="/api/inbox/inbox">Inbox</a></li>
                <li><a href="/api/profile/yourListings">Your Listings</a></li>
                <li><a href="/api/profile/myTrips">Your Trips</a></li>
                <li><a href="/api/profile/editProfile">Profile</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="col-sm-12">
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="col-sm-12" style="border:0.5px solid black">
        <div class="col-sm-12" style="background-color:#f5f5f5"><h3>Pending Approvals</h3></div>
        <div data-ng-repeat="x in details">
            <div class="col-sm-12" style="margin-top:10px">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-3"><a href="/api/profile/getUserDetailsForProfile/{{x.user_id}}"><img ng-src="/uploads/{{x.user_id}}.jpeg"  onerror="this.src='/images/user.jpg'" width="100%" height="100%" alt="no profile image"></img></a>
                            </div>
                        <div class="col-sm-9" style="float:left">
                            <label style="color: #1b6d85">Property:</label> <a href="/api/property/id/{{x.property_id}}/view">{{x.property_name}}</a><br>
                            Guest Name: <a href="/api/profile/getUserDetailsForProfile/{{x.user_id}}"> {{x.guest_name}}</a><br>
                            Checkin Date: {{x.checkin_date}} &nbsp;&nbsp; Checkout Date: {{x.checkout_date}}<br>
                            Guests: {{x.no_of_guests}}<br>
                            Price: ${{x.trip_price}}<br>
                            
                        </div>
                    </div>
                    <div class="col-sm-12" style="background-color: #9d9d9d">
                        <input type="button" class="btn btn-danger" style="float:left" value="Reject" data-ng-click="rejectTrip(x.trip_id)">
                        <input type="button" class="btn btn-success" style="float:right" value="Accept" data-ng-click="acceptTrip(x.trip_id)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-2"></div>
</div>
<div class="col-sm-12" style="margin-top:20px;margin-bottom:30px">
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="col-sm-12" style="border:0.5px solid black">
        <div class="col-sm-12" style="background-color:#f5f5f5"><h3>Bid Winners</h3></div>
        <div data-ng-repeat="x in biddings">
            <div class="col-sm-12" style="margin-top:10px">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-3"><img src="/images/home12.png" width="100%" height="100%"></img></div>
                        <div class="col-sm-9" style="float:left">
                            <label style="color: #1b6d85">Property:</label> <a href="/api/property/id/{{x.property_id}}/view">{{x.property_name}}</a><br>
                            <a href="/api/profile/getUserDetailsForProfile/{{x.max_bid_user_id}}"><img  onerror="this.src='/images/user.jpg'" ng-src="/uploads/{{x.max_bid_user_id}}.JPG" width="50px" height="65px" ></a>
                            Bidder Name: <a href="/api/profile/getUserDetailsForProfile/{{x.max_bid_user_id}}"> {{x.bidder_name}}</a><br>
                            Minimum Bid: ${{x.host_min_amt}}<br>
                            User Bid: ${{x.max_bid_price}}<br>
                        </div>
                    </div>
                    <div class="col-sm-12" style="background-color: #9d9d9d">
                        <input type="button" class="btn btn-danger" style="float:left" value="Reject" data-ng-click="rejectBid(x.bid_id)">
                        <input type="button" class="btn btn-success" style="float:right" value="Accept" data-ng-click="acceptBid(x.property_id,x.max_bid_price,x.bidder_name,x.max_bid_user_id,x.bid_id)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-2"></div>
</div>
<br><br>

</body>
</html>