html {

    height: 100%;

}

body {

    height: 100%;

    margin: 0;

    padding: 0;

}

#map-canvas {

    height: 100%;

}

#iw_container .iw_title {

    font-size: 16px;

    font-weight: bold;

}

.iw_content {

    padding: 15px 15px 15px 0;

}

a {

    color: #00B7FF;

}

.axis--x path {

    display: none;

}

td, th {

    padding: 1px 4px;

    border: 1px black solid;

}

path {

    stroke: steelblue;

    stroke-width: 2;

    fill: none;

}

.axis path,
.axis line {

    fill: none;

    stroke: grey;

    stroke-width: 1;

    shape-rendering: crispEdges;

}

div.tooltip {

    position: absolute;

    text-align: center;

    width: 60px;

    height: 28px;

    padding: 2px;

    font: 12px sans-serif;

    background: lightsteelblue;

    border: 0px;

    border-radius: 8px;

    pointer-events: none;

}

.d3-tip {

    line-height: 1;

    font-weight: bold;

    padding: 12px;

    background: rgba(0, 0, 0, 0.8);

    color: #fff;

    border-radius: 2px;

}

.d3-tip:after {

    box-sizing: border-box;

    display: inline;

    font-size: 10px;

    width: 100%;

    line-height: 1;

    color: rgba(0, 0, 0, 0.8);

    content: "\25BC";

    position: absolute;

    text-align: center;

}

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}